#maintitle{
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
}
#subtitle{
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 60vw;
  text-align: center;
}
#arrow_box{
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  top: 86vh;
  left: 50%;
  transform: translateX(-50%);
  background: var(--maincolor);
  border-style: solid;
  border-width: 3px;
  border-color: var(--color_3);
  text-align: center;
  cursor: pointer;
}
.downarrow{
  height: 35px;
  margin-top: 20px;
}
.passing {
  animation: passing_4284 2s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes passing_4284 {
  0% { transform:translateY(-50%); opacity:0 }
  40% { transform:translateY(0%); opacity:1 }
  80% { transform:translateY(50%); opacity:0 }
  100% { transform:translateY(50%); opacity:0 }
}
.section1{
  height: 80vh;
  background: white;
  color: var(--accentcolor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.section2{
  height: 80vh;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.infobox_main{
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.infobox{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--accentcolor);
  text-align: center;
  width: 25vw;
}
.info_icon{
  height: 80px;
}
#background1{
  background-image: url('./../Images/background11.jpg');
  min-height: 90vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#background2{
    background-image: url('./../Images/background5.jpg');
    min-height: 70vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #background3{
    background-image: url('./../Images/background8.jpg');
    min-height: 70vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .places{
    height: 625px;
    border-style: solid;
    border-color: var(--color_3);
    border-width: 1px;
  }
  .placesnav{
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }
  
  .cursor{
    color: var(--color_3);
    font-style: normal;
  }








  