#home_maintitle{
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  text-align: center;
}
#background1{
  background-image: url('./../Images/background1.jpg');
  min-height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#background2{
    background-image: url('./../Images/background2.jpg');
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }