.Footer{
    bottom: 0px;
    background: var(--accentcolor);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#social_icons{
    padding: 10px 0px 10px 0px;
}
.social_icon{
    height: 30px;
    margin: 5px;
    opacity: .6;
}
.social_icon:hover{
    opacity: 1;
}
#footer_logo{
    height: 100px;
    padding-bottom: 10px;
}
.copyrightinfo{
    padding: 0px 11px 5px 11px;
    padding-left: 11px;
    color: white;
    text-decoration: none;
}
.footer_links{
    height: 200px;
    width: 150px;
}
.footer_title{
    color: var(--color_3);
    padding: 15px 0px 15px 0px;
}
.footer_subtitle{
    padding: 4px 0px 4px 0px;
    opacity: .6;
}
.footer_subtitle:hover{
    opacity: 1;
    cursor: pointer;
}
